{{!< default}}

{{> "aside"}}

<div>
{{#foreach posts}}
    <article class="post">
        <header>
            <h1><a href="{{url}}" title="{{title}} lesen">{{title}}</a></h1>
            <p>{{author}} * {{date}}</p>
        </header>
        <div>
            {{#if image}}
                <a href="{{url}}"><img src="{{image}}" alt="{{name}}"></a>
            {{/if}}
            {{excerpt words="200"}}<span>...</span>
        </div>
        <footer>
            <a href="{{url}}" title="{{title}} lesen">weiterlesen</a>
        </footer>
    </article>
{{/foreach}}
</div>
