{{!< default}}

{{> "aside"}}

<article class="container">
    {{#post}}
        <header>
            <h1>{{title}}</h1>
            {{#is post}}
                <p>{{author}} * {{date}}</p>
            {{/is}}
        </header>
        {{#if image}}
            <a href="{{url}}"><img src="{{image}}" alt="{{name}}"></a>
        {{/if}}
        {{content}}
        {{#is post}}
            <footer>
                <a href="/">zur&uuml;ck</a>
            </footer>
        {{/is}}
    {{/post}}
</article>
