{{!< default}}

{{> "aside"}}

<article class="container">
    {{#post}}
        <header>
            <h1><a href="{{url}}" title="read {{title}}">{{title}}</a></h1>
            <p>{{author}} * {{date}}</p>
        </header>
        {{#if image}}
            <a href="{{url}}"><img src="{{image}}" alt="{{name}}"></a>
        {{/if}}
        {{content}}
        <footer>
            <a href="/">zur&uuml;ck</a>
        </footer>
    {{/post}}
</article>
